
 <form [formGroup]="BusTicket" (ngSubmit)="onSubmit()">

  <div>
    <label>
      First Name
    </label>
    <input type="text" formControlName="firstName" [(ngModel)] = 'firstName1' >
    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
      <div *ngIf="firstName.errors.required" class="forvalistion">The First Name field is required</div>
      <div *ngIf="firstName.errors.minlength" class="forvalistion">Minimum 3 latter required</div>
      <div *ngIf="firstName.errors.pattern" class="foepathern">Enter only letter</div>
    </div>
  </div>
  <br>
  <div>
    <label>
      Last Name
    </label>
    <input type="text" formControlName="lastName" >
    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
      <div *ngIf="lastName.errors.required" class="forvalistion">The Last Name field is required</div>
      <div *ngIf="lastName.errors.maxlength" class="forvalistion">Enter maximum 9 characters only</div>
    </div>
  </div>
  
  <div  formGroupName="address">
    <h3>Address</h3>
    <div>
      <label>
       City Name
      </label>
      <input type="text" formControlName="cityName" >
      <div *ngIf="cityName.invalid && (cityName.dirty || cityName.touched)">
        <div *ngIf="cityName.errors.required" class="forvalistion">The City Name field is required</div>
       
      </div>
    </div><br>
    <div>
      <label>
        State Name
      </label>
      <input type="text" formControlName="stateName" >
      <div *ngIf="stateName.invalid && (stateName.dirty || stateName.touched)">
        <div *ngIf="stateName.errors.required" class="forvalistion">The State Name field is required</div>
        <div *ngIf="stateName.errors.minlength" class="forvalistion"> Name must be at least 2 character long.</div>
        <div *ngIf="stateName.errors.maxlength" class="forvalistion"> Enter maximum 12 characters only.</div>
      </div>
    </div> <br>
    <div>
      <label>
        zip code 
      </label>
      <input type="number" formControlName="zipcode" >
    </div>
    
  </div><br>
  <div>
    <label><button type="submit" [disabled]="!BusTicket.valid" >Submit</button></label>
  </div>
  
   </form>  
   
  
  